.social-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	 /* Full height of the viewport */

	/* Left Sidebar */
	.social-left-container {
		width: 400px; /* Fixed width for the sidebar */
		background-color: #ffffff;
		border-right: 1px solid #b7b7b7;
		display: flex;
		flex-direction: column;
        height: 84vh;
		.message-preview-container {
			height: 100%; /* Full height of the sidebar */
			display: flex;
			flex-direction: column;
		}
	}

	/* Right Section */
	.social-right-container {
		flex: 1; /* Take the remaining space */
		display: flex;
		flex-direction: column;
		background-color: blue;
		
	}
}