.upper-message-preview {
	padding: 20px 20px 0 20px;
	background: var(--background);
	border-bottom: 1px solid var(--border-color);

	.tabs {
		display: flex;
		gap: 4px;
		margin-bottom: 12px;

		.tab {
			flex: 1;
			height: 50px;
			background: var(--background);
			border: 1px solid #b8b8b8;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			font-weight: bold;
			font-size: 14px;
			color: var(--text-primary);

			&.active {
				color: var(--button-green);
				border-color: var(--border-green);
			}
		}
	}

	.search-bar {
		background: var(--background);
		border: 1px solid var(--border-color);
		border-radius: 50px;
		display: flex;
		align-items: center;
		padding: 0 12px;
		margin-bottom: 20px;

		.search-icon {
			width: 26px;
			height: 26px;
			cursor: pointer;
			color: var(--text-primary);
		}

		.search-input {
			border: none;
			outline: none;
			margin-left: 12px;
			font-size: 12px;
			color: var(--text-primary);
			background-color: var(--background);
			width: 100%;
			margin-bottom: 0;
		}
	}
}