.admin-table-wrapper {
	border: 1px solid var(--table-border);
	border-radius: 20px;
	background-color: var(--background-green);
	padding: 10px;
	width: 90%;
	overflow: hidden;

	table {
		width: 100%;
		border-collapse: collapse;
		color: var(--text-primary);
		table-layout: fixed;

		thead {
			display: table;
			width: 100%;
			table-layout: fixed;
		}

		tbody {
			display: block;
			max-height: 300px;
			overflow-y: auto;
			width: 100%;

			tr {
				display: table;
				table-layout: fixed;
				width: 100%;
			}
		}

		td,
		th {
			display: table-cell;
			padding: 12px;
			text-align: center;
		}

		tbody tr {
			border-top: 1px solid white;

			img {
				width: 100px;
				height: 55px;
				border-radius: 5px;
			}

			.status-adm {
				width: 68px;
				height: 26px;

				padding: 2px;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;

				&.Active {
					background-color: var(--table-status);
				}

				&.Inactive {
					background-color: var(--admin-text-red);
					font-size: 15px;
				}

				.circle-status {
					width: 8px;
					height: 8px;
					border-radius: 100%;

					&.Active {
						border: 2px solid white;
						background-color: #9ceddc;
					}

					&.Inactive {
						border: 2px solid white;
						background-color: red;
					}
				}
			}

			.action-buttons {
				position: absolute;
				top: 100%;
				border-radius: 10px;
				left: 0;
				background: var(--background);
				border: 1px solid #ccc;
				padding: 0.5rem;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
				z-index: 10;
			}

			.action-btn {
				padding: 0.3rem 0.6rem;
				border: none;
				background-color: var(--accent-green);
				color: white;
				border-radius: 4px;
				cursor: pointer;
				transition: background-color 0.2s;

				&:hover {
					background-color: #51efcd;
				}
			}
		}
	}
}

// Scrollbar styles
* {
	scrollbar-width: auto;
	scrollbar-color: var(--accent-green) transparent;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--accent-green);
	border-radius: 10px;
}

.nodata-container {
	width: 100%;
	height: 375px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 10px;
}
