.login-page {
	height: 100vh;
	width: 100%;
	background: linear-gradient(90deg, #05c69d, #d65971 70%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container {
	background-color: var(--background);
	padding: 40px;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 400px;
	text-align: center;
}

.form-title {
	font-size: 24px;
	color: var(--text-primary);
	margin-bottom: 10px;
}   

.btn-primary {
	background-color: var(--button-green);
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	width: 80%;
}

.btn-primary:hover {
	background-color: var(--admin-text-red);
}

.success-message {
	color: green;
	text-align: center;
	margin-top: 10px;
}

.error-message {
	color: red;
	text-align: center;
	margin-top: 10px;
}

.signup {
	margin-top: 20px;
	font-size: 14px;
	color: var(--text-primary);

	a {
		color: var(--button-green);
		font-weight: bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
