.activity-item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid var(--border-color);
	gap: 1rem;
	padding: 20px 0;

	&__left {
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		flex: 1;
	}

	&__image-container {
		width: 140px;
		height: 70px;
		border-radius: 8px;
		overflow: hidden;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-weight: 600;
		color: var(--text-primary);
		white-space: nowrap;
		margin: 0;
	}

	&__time {
		font-size: 0.85rem;
		color: #00bcd4;
	}

	&__divider {
		width: 1px;
		height: 70px;
		background-color: var(--border-color);
	}

	&__review {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 0.3rem;
		width: 280px;
		max-width: 30%;

		.activity-item__text {
			font-size: 0.75rem;
			color: var(--text-secondary);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}

		.activity-item__rating {
			display: flex;
			gap: 0.2rem;

			.star {
				color: var(--admin-text-red);
				font-size: 1rem;
			}
		}
	}
}




@media screen and (max-width: 768px) {
	.activity-item {
		flex-direction: column;
		padding: 1rem;
		width: 100%;
		box-sizing: border-box;

		&__left {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}

		&__main {
			margin-top: 0.5rem;
			width: 100%;
		}

		&__image-container {
			width: 100%;
			height: auto;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		&__divider {
			display: none;
		}

		&__review {
			width: 100%;
			max-width: 100%;
			margin-top: 0.5rem;
		}
	}
}
