.profile-page {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 2rem;
	flex-wrap: wrap;
}

.profile-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile-main {
	flex: 1;
	min-width: 300px;
	max-width: 1350px; // sau cât vrei tu să fie limita pe dreapta
	margin-right: auto; // 🔥 împinge de la dreapta
}

