:root {
	--text-primary: #616161;
	--text-secondary: #7e7e7e;
	--light-text: #949494;
	--dark-text: #202020;

	--background: #ffffff;
	--background-green: #e9f5f3;
	--button-green: #27c4b6;
	--accent-green: #94f6de;
	--new-accent-green: #27c4b6;
	--border-color: #cdcdcd;
	--green-border: #17a17a;
	--table-border: #acacac;
	--table-status: #42f6cc;

	--admin-text-green: #41F6F6;
	--admin-text-orange: #F69C41;
	--admin-text-red: #F64175;
}

[data-theme='dark'] {
	--text-primary: #c7c7c7;
	--text-secondary: #cacaca;
	--light-text: #a2a2a2;
	--dark-text: #f2f2f2;

	--background: #131313;
	--background-green: #191617;
	--button-green: #27c4b6;
	--accent-green: #94f6de;
	--new-accent-green: #27c4b6;
	--border-color: #565656;
	--green-border: #17a17a;
	--table-border: #2d2d2d;
	--table-status: #102a24;

	--admin-text-green: #41F6F6;
	--admin-text-orange: #F69C41;
	--admin-text-red: #F64175;
}

body {
	background-color: var(--background);
	color: var(--text);
	transition:
		background-color 0.3s,
		color 0.3s;
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}
