@import "../../styles/global.scss";

.logo {
    background-color: var(--primary);
    border-radius: 100%;
    text-align: center;
    color: white;
    font-size: 29px;
    font-weight: bold;
    width: 42px;
    height: 42px;
}