@import '../../styles/global.scss';

.logo {
	background-color: #64f6de;
	border-radius: 100%;
	text-align: center;
	color: white;
	font-size: 29px;
	font-weight: bold;
	width: 42px;
	height: 42px;

	&:hover {
		cursor: pointer;
	}
}
