.edit-profile-button {
	width: 100%;
	padding: 0.6rem 2rem;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	background: var(--background);
	color: var(--text-primary);
	border: 1px solid var(--border-color);
	border-radius: 12px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 0.95rem;
	font-weight: 500;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

	.icon {
		font-size: 1.2rem;
	}

	&:hover {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		transform: translateY(-1px);
	}
}
