$radius:30px;
.chat-container {
    min-width: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background); 

    .chat-header {
        height: 80px;
        background-color: var(--background);
        color: var(--text-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        font-size: 24px;
        box-shadow: 0px 4px 6px rgba(10, 10, 10, 0.2);
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;

        .header-title {
            display: flex;
            align-items: center;
            
            .title {
                margin: 10px;
                font-size: 14px;
                color: var(--text-primary);
                font-weight: bold;
            }

            .active, .offline {
                font-size: 10px;
                color: #37EE74;
            }

            .offline {
                color: red;
            }
        }
    }

    .chat-messages {
        flex: 1;
        padding: 10px 20px;
        overflow-y: auto;

        .message-container {
            max-width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 10px 0;

            .message-content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0 10px;

                .message-title {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    color: var(--text-primary);
                }

                .message {
                    border: 1px solid var(--border-color);
                    border-radius: 15px;
                    padding: 10px;
                    width: fit-content;
                    color: var(--dark-text);
                    background-color: var(--background);
                }
            }
        }
    }

    .chat-message-bar {
        height: 80px;
        background-color: var(--background);
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--text-primary);
        font-size: 24px;
        border-top: 1px solid var(--border-color);
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        box-shadow: 0px -4px 6px rgba(10, 10, 10, 0.2);
        * {
            margin: 0 10px;
        }

        .message-bar-container {
            flex-grow: 1;
            height: 40px;
            background-color: var(--background);
            border: 1px solid var(--border-color);
            border-radius: 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            .message-input {
                border: 0;
                flex-grow: 1;
                font-size: 16px;
                margin-bottom: 0;
                padding: 0;
                margin-left: 10px;
                max-height: 100px;
                overflow-y: auto;
                text-wrap: wrap;
            }

            .message-input:focus-visible {
                outline: none;
                border-radius: 0;
            }
        }
    }
}