.navtab {
	width: 200px;
	display: flex;
	justify-content: left;
	align-items: center; /* Vertically center content */
	border-right: 1px solid var(--text-secondary);
	color: var(--text-secondary);
	padding: 0 10px;
	font-size: 16px;
	text-decoration: none;

	.navtab-icon {
		margin-right: 10px;
		font-size: 24px;
	}

	.navtab-text {
		display: block; /* Show text by default */
	}

	&:last-child {
		border-right: none;
	}

	&:hover {
		text-decoration: underline;
	}

	&.active {
		font-weight: bold;
		color: var(--button-green);
	}
}

// Media query for mobile devices
@media (max-width: 768px) {
	.navtab {
		flex:auto;
		width: auto; 
		justify-content: center;
		padding: 40; 
		//border-right: none;
		
	}

	.navtab-text {
		display: none !important; 
	}

	.navtab-icon {
		margin-right: 0; 
	}
}
